@import url(https://fonts.googleapis.com/css?family=Exo:100);
* {
  margin: 0;
  padding: 0;
  border: 0 none;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-family: "Exo", sans-serif;
  font-weight: 100;
}
.cont-slider {
  position: relative;
  height: 500px;
  /* max-height: 100vh; */
  width: auto;
  min-width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}
.slider {
  animation: sliding 20s ease-in 0s backwards infinite;
  position: absolute;
  left: 0;
  top: 0;
  width: 500%;
  height: 100%;
}
.slide {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 800px;
  margin-top: 102px;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.slide span {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0 5vh 5vh 0;
  color: #fff;
  position: absolute;
  left: 0;
  /* top: 40vh; */
  font-size: 20vh;
  line-height: 20vh;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-left: 0 none;
}
.one {
  background-image: url(https://m.media-amazon.com/images/I/61rzeHVaXML._SX3000_.jpg);
}
.two {
  background-image: url(https://m.media-amazon.com/images/I/61uul5cGXTL._SX3000_.jpg);
}
.three {
  background-image: url(https://m.media-amazon.com/images/I/61hzx5dTYTL._SX3000_.jpg);
}
.four {
  background-image: url(https://m.media-amazon.com/images/I/61rzeHVaXML._SX3000_.jpg);
}
.five {
  background-image: url(https://m.media-amazon.com/images/I/618B1HnAxLL._SX3000_.jpg);
}
.six {
  background-image: url(https://m.media-amazon.com/images/I/617CoD4euRL._SX3000_.jpg);
}

.seven {
  background-image: url(https://m.media-amazon.com/images/I/81-Vfb-iEhL._SX3000_.jpg);
}

@keyframes sliding {
  0% {
    left: 0%;
  }
  15% {
    left: 0%;
  }
  20% {
    left: -100%;
  }
  35% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  55% {
    left: -200%;
  }
  60% {
    left: -300%;
  }
  75% {
    left: -300%;
  }
  80% {
    left: -400%;
  }
  95% {
    left: -400%;
  }
  100% {
    left: 0;
  }
}
